* {
}

body {
  position: relative;
  background-color: $black;
  color: $white;
}

.bodywrapper {
  max-width: 1200px;
  margin: auto;
}

@media (max-width: 1300px) {
  .bodywrapper {
    margin: $spacing-l; 
    width: 100%;
  }
}