button {
  &.btn {
    background-color: $light-gray;
    padding: $spacing-s $spacing-l;
    border: none;
    height: 50px;
    transform: skewX(-35deg);
    overflow: hidden;
    cursor: pointer;
    font-family: $font-button;
    text-transform: uppercase;
    transition: background-color 0.3s, box-shadow 0.3s;
    display: flex;
    align-items: center;

    &:hover {
      background-color: $secondary-color;
      box-shadow: 2px ;
      box-shadow: 0 0 20px $secondary-color;

      
    }
    
    span {
      display: inline-block;
      background-color: transparent;

      transform: skewX(35deg);
      padding: 10px;
      color: #fff;
      text-align: right;
    }
  }
}
